# top-most EditorConfig file

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Ignore minified files
[*.min.js]
indent_style = unset
trim_trailing_whitespace = false
insert_final_newline = false

[*.min.css]
indent_style = unset
trim_trailing_whitespace = false
insert_final_newline = false
